<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/account.css" />
</head>

<body>
  

    <div class="main-content">
        <header>
           <h1>
            <label for="nav-toggle">
<span class="las la-user"></span>
            </label>
            Profile
           </h1>
           <div class="user-wrapper">
            <img src="images/profile.jpg" width="45" height="45" alt="">
         
           <div>    
            <h4>John Doe</h4>
            <small>Admin</small>
        </div>
    </div>
        </header>

        <main>

            <div class="user-wrapper-profile">
           
               </div>
            <section class="table__body">
                <table>
                    
                    <tbody>
                        <tr>
                            <img src="images/profile.jpg" width="150" height="170" alt="" class="tr-img">  
                        </tr>
                        <tr>
                      
                            <td> <img src="images/user.png" alt="">User ID</td>
                            <td   class="td-row"> alanwalker@gmail.com </td>
                           
                        </tr>
                        <tr>
                      
                            <td> <img src="images/user.png" alt="">Name</td>
                            <td   class="td-row"> alanwalker@gmail.com </td>
                            
                             
                        </tr>
                        <tr>
                      
                            <td> <img src="images/email.png" alt="">Email</td>
                            <td class="td-row"> alanwalker@gmail.com </td>
                           
                             
                        </tr>
                        <tr>
                      
                            <td> <img src="images/mobile-phone.png" alt="">Mobile Number</td>
                            <td class="td-row"> alanwalker@gmail.com </td>
                            
                             
                        </tr>
                        
                    </tbody>
                </table>
            </section>
        </main>
    </div>

</body>

</html>