@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root{
        --color-white: white;
        --color-black: black;
        --color-grey: #CECECE;
        --color-primary: #f3362c;
}

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.table__header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__header .input-group {
    width: 35%;
    height: 100%;
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
}

.table__header .input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.table__header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;

    margin: .8rem auto;
    border-radius: .6rem;

    overflow: auto;
    overflow: overlay;
}

.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}

table {
    width: 100%;
}

td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #a9dcbafe;
    cursor: pointer;
    text-transform: capitalize;
}

button {
    margin : 10px;
     
    color: #fff;
    width: 100;
    height: 40;
    font-size: 18px;
    background: hsl(0, 100%, 76%);
    border-radius: 10px;
    border: none;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

 

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

.status {
    padding: .7rem 0;
    border-radius: 2rem;
    text-align: center;
}


.status.cancelled {
    background-color: #ff6767;
    color: #fff;
}

 



.main-content{
    
    transition: margin-left 300ms;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0,0.2);
    position: fixed;
  
    width: calc(100%);
    top: 0;
    z-index: 100;
    transition: left 300ms;
}




.user-wrapper {
    display: flex;
    align-items: center;
}

.user-wrapper img{
    border-radius: 40%;
    margin-right: 1rem;
}
 
.user-wrapper small{
   display: inline-block;
}

main{
margin-top: 82px;
padding: 2rem 1.5rem;
background: #FAFAFA;
min-height: calc(100vh - 90px);
}
header span{
   color: var(--color-primary);
    
    }


@media only screen and (max-width:1200px){
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
    .main-content{
        margin-left: 70px;
    }
    .main-content header{
        width: calc(100% - 70px);
        left: 70px;
    }
    
}




@media only screen and (max-width:768px){
  
    header h1{
        display: flex;
        align-items: center;
    }

    header h1 label{
        display: inline-block;
        background: var(--color-primary);
        text-align: center;
        align-items: center;
        border-radius: 50%;
        padding-right: 0rem;
        margin-right: 1rem;
        height: 40px;
        width: 40px;
        color: #fff;
        justify-content: center !important;
    }
    
    header h1 span{
        text-align: center;
        padding-top: 0.2rem;
    }
    header h2{ 
        font-size: 1rem;
    }
    .main-content{
        width: 100%;
        margin-left: 0rem;
    }
    header{
        width: 100% !important;
        left: 0 !important;
    }
}


